<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Menu Master</div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- for Menu item Add  -->


    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="actionForm">
        <mat-form-field>
            <mat-label>Menu ID</mat-label>
            <input matInput [formControlName]="'menu_id'" />
        </mat-form-field>
        <mat-form-field>
            <mat-label> Menu Title</mat-label>
            <input matInput [formControlName]="'menu_Title'" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Menu Type</mat-label>
            <mat-select id="menu_Type" [formControlName]="'menu_Type'" [placeholder]="'Choose Menu Type'">
                <mat-option value="main">main</mat-option>
                <mat-option value="basic">basic</mat-option>
            </mat-select>

        </mat-form-field>
        <mat-form-field>
            <mat-label>Menu Icon</mat-label>
            <input matInput [formControlName]="'menu_Icon'" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Menu Link</mat-label>
            <input matInput [formControlName]="'menu_Link'" />
        </mat-form-field>

        <!-- Subject -->
        <mat-form-field>
            <mat-label>Menu parentID</mat-label>
            <mat-select id="menu_parentId" [formControlName]="'menu_parentId'" [placeholder]="'Choose Parent'"  >
            <ng-container *ngFor="let menu of parentMenus">
                <mat-option [value]="menu.menu_id">{{ menu.menu_Title }}</mat-option>
            </ng-container>
        </mat-select>  
        </mat-form-field>
        <mat-form-field>
            <mat-label>Active</mat-label>
            <mat-select id="menu_isActive" [formControlName]="'menu_isActive'" [placeholder]="'Choose State'">
                <mat-option value="0">No</mat-option>
                <mat-option value="1">Yes</mat-option>
            </mat-select>
          
        </mat-form-field>
        <mat-form-field>
            <mat-label>User Role</mat-label>
            <mat-select id="menu_userRole" [formControlName]="'menu_userRole'" [placeholder]="'Choose Role Type'" multiple >
                <ng-container *ngFor="let role of id_Role">
                    <mat-option [value]="role.id_Role">{{ role.role_Name }}</mat-option>
                </ng-container>
            </mat-select>  
        </mat-form-field>
        <!-- Body -->
        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div class="-ml-2">
                <button class="order-first sm:order-last" mat-flat-button [color]="'primary'" (click)="submit()"
                    [disabled]="!actionForm.valid">
                    {{ formMode }} Record
                </button>
            </div>
        </div>
    </form>
</div>