.textAlign{
  height: unset !important;
  font-size:14px !important;
  font-family: "Inter var", ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
  white-space:pre-wrap !important;
  line-height: 40px !important;
  border-bottom: solid 0.5px #08080825;
  top: calc(3em - 2px);
}